body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

  .container3{
    display:grid;
    grid-gap: 1em;
    grid-template-areas:
    'none none none none'
    'g1 g1 g2 g2'; 
   
}
.btn{
    
    color: white;
}
#btn1{
    grid-area:g1;
    color:white;
    height: 20vh;
    font-family: 'Poppins';
    font-size:10px;
    font-weight:300;
}
#btn1 button{
    background-color:#d4f5d8;
    height: 18vh;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;  
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;  
    font-family: 'Poppins';
    font-size:25px;
    font-weight:200;
}

#btn2{
    grid-area:g2;  
    color:white;
    height: 20vh;
    font-size:x-large;
    font-weight:bold;
    
   
}
#btn2 button{
    background:#d4f5d8;
    height: 18vh;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;  
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;  
    font-family: 'Poppins';
    font-size:25px;
    font-weight:200;
}




    
@media only screen and (max-width: 922px ){
    .container3{
        display:grid;
        grid-gap: 1em;
        grid-template-areas:
        'g1 g1 g1 g1'
        'g2 g2 g2 g2'; 
       
    }


}